.img-container{
  width: 100%;
  height: 400px;
}

.custom-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 8% 50%;
}

@media (max-width: 576px) {
  .img-container{
    height: auto;
  }
}

